.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  background-color: #282c34;
  border: 1px solid black;
  color: #60a8a0;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.logo {
  margin-left:0.5em;
  height: 10em;
  width: 10em;
}

.nav {
  padding:0.5em;
  text-decoration: none;
  color: #60a8a0;
  font-size: 4vmin;
}

.small-button {
  
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  color: #60a8a0;
  height: 16vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Arvo, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 5vmin;
  padding:0.1em;
  border-bottom: 5px solid #60a8a0;
}

.backgroundImg {
  width: 100%;
  grid-area: 1 / 1 / 12 / 10;
}

.background {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: Arvo, sans-serif;
  color: white;
  text-align: center;
  text-shadow: -1px 0 #60a8a0, 0 1px #60a8a0, 1px 0 #60a8a0, 0 -1px #60a8a0;
}

.overlap { 
  font-size: 10vmin;
  grid-area: 4 / 2 / 5 / 5;
}
.overlap2 { 
  font-size: 5vmin;
  grid-area: 5 / 2 / 6 / 5;
}

.sub-header {
  background-color: white;
  color: #60a8a0;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: calc(18px + 2vmin)
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
