.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  background-color: #282c34;
  border: 1px solid black;
  color: #60a8a0;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.logo {
  margin: 1em;
  height: 10em;
  width: 10em;
}

.nav {
  margin: 1em;
}

.small-button {
  
}

.header {
  background-color: white;
  color: #60a8a0;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: calc(18px + 2vmin)
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
